/* 웹폰트 적용하기 */

@font-face {
    font-family: 'seoul-namsan-jang-l';
    src: url('../font/SeoulNamsanJangL/seoulnamsanjangl.eot');
    src: url('../font/SeoulNamsanJangL/seoulnamsanjangl.eot?#iefix') format('embedded-opentype'),
         url('../font/SeoulNamsanJangL/seoulnamsanjangl.woff2') format('woff2'),
         url('../font/SeoulNamsanJangL/seoulnamsanjangl.woff') format('woff'),
         url('../font/SeoulNamsanJangL/seoulnamsanjangl.ttf') format('truetype'),
         url('../font/SeoulNamsanJangL/seoulnamsanjangl.svg#seoul-namsan-jang-l') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seoul-namsan-jang-m';
    src: url('seoulnamsanjangm.eot');
    src: url('../font/SeoulNamsanJangM/seoulnamsanjangm.eot?#iefix') format('embedded-opentype'),
         url('../font/SeoulNamsanJangM/seoulnamsanjangm.woff2') format('woff2'),
         url('../font/SeoulNamsanJangM/seoulnamsanjangm.woff') format('woff'),
         url('../font/SeoulNamsanJangM/seoulnamsanjangm.ttf') format('truetype'),
         url('../font/SeoulNamsanJangM/seoulnamsanjangm.svg#seoul-namsan-jang-m') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'seoul-namsan-jung-b';
    src: url('../font/SeoulnamsanjungB/seoulnamsanjungb.eot');
    src: url('../font/SeoulnamsanjungB/seoulnamsanjungb.eot?#iefix') format('embedded-opentype'),
         url('../font/SeoulnamsanjungB/seoulnamsanjungb.woff2') format('woff2'),
         url('../font/SeoulnamsanjungB/seoulnamsanjungb.woff') format('woff'),
         url('../font/SeoulnamsanjungB/seoulnamsanjungb.ttf') format('truetype'),
         url('../font/SeoulnamsanjungB/seoulnamsanjungb.svg#seoul-namsan-jung-b') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seoul-namsan-jung-eb';
    src: url('../font/SeoulNamsanJungEB/seoulnamsanjungeb.eot');
    src: url('../font/SeoulNamsanJungEB/seoulnamsanjungeb.eot?#iefix') format('embedded-opentype'),
         url('../font/SeoulNamsanJungEB/seoulnamsanjungeb.woff2') format('woff2'),
         url('../font/SeoulNamsanJungEB/seoulnamsanjungeb.woff') format('woff'),
         url('../font/SeoulNamsanJungEB/seoulnamsanjungeb.ttf') format('truetype'),
         url('../font/SeoulNamsanJungEB/seoulnamsanjungeb.svg#seoul-namsan-jung-eb') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seoul-namsan-jung-m';
    src: url('../font/SeoulNamsanJungM/seoulnamsanjungm.eot');
    src: url('../font/SeoulNamsanJungM/seoulnamsanjungm.eot?#iefix') format('embedded-opentype'),
         url('../font/SeoulNamsanJungM/seoulnamsanjungm.woff2') format('woff2'),
         url('../font/SeoulNamsanJungM/seoulnamsanjungm.woff') format('woff'),
         url('../font/SeoulNamsanJungM/seoulnamsanjungm.ttf') format('truetype'),
         url('../font/SeoulNamsanJungM/seoulnamsanjungm.svg#seoul-namsan-jung-m') format('svg');
    font-weight: normal;
    font-style: normal;

}