/* reset : 초기화 작업 */
* {margin:0;padding:0;box-sizing:border-box;}
ol,ul {list-style:none;}
fieldset,img {border:none;}
input,img {vertical-align:top;}
hr {display:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-family:"맑은 고딕";color:#333;font-weight:normal;}

/* common (공통영역 내 꾸미기) */
body {font-size:100%;font-family:"맑은 고딕",돋움,나눔고딕,sans-serif;color:#333;line-height:1.2;}
a {text-decoration:none;color:#666;}

html,body,main {height:100%;}
.inner {width:1200px;height:100%;border:1px solid cyan;margin:0 auto;}

/* main 꾸미기 */
header {width:1920px;height:148px;border:1px solid red; background:#000000;}
header div.inner {width:1200px;height:100%;border:0px solid yellow;margin:0 auto;}
header div.inner h1 {padding:29px 0 19px 0;border:0px solid black;text-align:center;}
header div.inner nav {width:1200px;border:0px solid green;text-align:center;}
header div.inner nav ul {width:1200px;border:0px solid red;}

/*
    display:inline; 값을 적용하면 문단요소가 인라인화 됨
    즉 수평구조로 변경 > 내용 감싸기 유형의 영역으로 바뀜
    사이에 여백이 기본적으로 4-6 존재 따라서, 딱 붙는 형태라면 float:left 를 사용해야함
*/ 

header div.inner nav ul li {display:inline-block; padding:0 66px 0 65px;border:0px solid pink;}
header div.inner nav ul li:first-child {padding-left:0;}
header div.inner nav ul li:last-child {padding-right:0;}
header div.inner nav ul li a {display:block;padding:5px 0;border:0px solid yellow;font-family:Corbel; font-size:20px; color:#fffefe;}

#visual {width:1920px;height:599px;border:1px solid orange;}
#visual .outer {width:1423px;height:100%;background:url('../images/visual/pc_background.png') no-repeat ;margin:0 auto;border:0px solid black}
#visual .inner {width:1200px; height:100%;border:0px solid black;}
#visual .inner p {float:left;}
#visual .inner dl{float:right;width:360px;margin-right: 50px;padding-top:113px;border:0px solid green;}
#visual .inner dl dd:nth-child(1) {border:0px solid green;}
#visual .inner dl dt:nth-child(2) {border:0px solid cyan;padding-top:19px;font-family: 'seoul-namsan-jung-eb';font-size: 38px;}
#visual .inner dl dt:nth-child(3) {border:0px solid yellow;padding:14px 0 16px 0;font-family: 'seoul-namsan-jung-eb';font-size: 24px; background:url('../images/visual/visual_dotline.gif');}
#visual .inner dl dd:nth-child(4) {border:0px solid pink;padding-top:16px;font-family: 'seoul-namsan-jung-m';font-size: 16px;}
#visual .inner dl dd:nth-child(5) {border:0px solid gray;padding-top:35px;}
#visual .inner dl dd:nth-child(5) a {display:block;width:134px; padding:10px 0;text-align:center;border:1px solid #000;font-family: 'seoul-namsan-jung-m';font-size: 12px;color:#000;}








#contents {clear:both;width:1920px;height:1840px;border:1px solid yellow;}
footer {width:1920px;height:213px;border:1px solid green;}