/* layout.css(페이지의 레이아웃(골격) */

/* main layout */
#wrapper{
   width:100%;  
   /* 100%는 한단계 상위의 부모 넓이를 따라감, 여기에서는 body(해상도 규격)가 부모가 됨*/
   /* height:1870px; */  /* 전체 높이를 임시로 설정 - 나중에 삭제할 예정 */
   border:0px solid black;
}

#header{
	width:100%;
	height:97px;
	border:0px solid red;
	background:url(../images/common/header_bg.gif) repeat-x 0 0;
}
#header div.inner{
	width:1000px;
	height:97px;
	margin:0 auto;
	border:0px solid cyan;
	position:relative; /* header안의 요소들(예:로고, 정보메뉴)의 기준 시작점이 됨 */
}


#footer{
	position:relative;
	width:1000px;
	height:131px;
	border:0px solid gray;
	margin:0 auto; /* 문단영역 자체 - 가운데 정렬 효과 */
}

