body {
	margin-top:80px;
	border:0px solid red;
	}
a {
	font-size:2em;
	display:block;
	position:relative;
	top:50px;
	border:0px solid blue;
	}
#mainNav li {
	width:150px;
	height:150px;
	padding:10px;
	border-radius:20px;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center center;
	margin:0px 8px 8px 0px;
	border:5px solid #DBDBDB;
	}
li:nth-child(2) {
	background-image:url(images/sandal.png);
	}
li:nth-child(3) {
	background-image:url(images/neck.png);
	}
li:nth-child(4) {
	background-image:url(images/bag.png);
	}
li:nth-child(5) {
	background-image:url(images/top.png);
	}
li:nth-child(6) {
	background-image:url(images/dress.png);
	}
li:nth-child(7) {
	background-image:url(images/bottom.png);
	}
#wrapper {
	width:755px;
	margin:0px auto;
	}