body {
	margin-top:40px;
	}
a {
	font-size:0.8em;
	display:block;
	position:relative;
	top:15px;
	}
#mainNav li {
	width:50px;
	height:50px;
	padding:8px;
	border-radius:10px;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center center;
	margin:0px 7px 7px 0px;
	border:2px solid #DBDBDB;
	}
li:nth-child(2) {
	background-image:url(images/sandal3.png);
	}
li:nth-child(3) {
	background-image:url(images/neck3.png);
	}
li:nth-child(4) {
	background-image:url(images/bag3.png);
	}
li:nth-child(5) {
	background-image:url(images/top3.png);
	}
li:nth-child(6) {
	background-image:url(images/dress3.png);
	}
li:nth-child(7) {
	background-image:url(images/bottom3.png);
	}
#wrapper {
	width:240px;
	margin:0px auto;
	}