/* common.css header와 footer 처럼 모든 페이지 내에서 사용되는 영역을 꾸밀때 활용 */

/* body요소와 a꾸미기(공통부분) */
body {
    color:#333;
    line-height:1.2; /*줄간격*/
    font-family: "돋움",Dotum,굴림,Gulim,sans-serif;
    font-size:100%; /* 100%=16px=12pt=1em */
}

a {text-decoration:none;} /* 글자장식효과 없게 */

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* header (공통) */
#header {height: 97px;border: 3px solid purple;}
#header div.inner h1.logo{float:left;padding:32px;margin-right:80px;border:2px solid burlywood;}
#header div.inner ul#navigation{float:left;padding-top:35px;border:5px solid fuchsia;}
#header div.inner ul#navigation li {border:1px solid red;display: inline;}
/* #header div.inner ul#navigation li a {background: yellow;font-family: 나눔고딕,"맑은 고딕",돋움,sans-serif;font-size: 18px;color:#434343;} */
#header div.inner ul#navigation li a {background: yellow;font-family: 'Nanum Gothic', sans-serif;font-size: 18px;color:#434343;}
#header div.inner ul#infoMenu{float:left;border:2px solid black;}
#header div.inner ul#infoMenu li{border:1px solid green;display: inline;}

/* footer (공통) */
#footer {height: 131px;border: 3px solid yellow;}