@charset "utf-8";
/* Main Layout */
	#painterNav ul {
	width:95%;
	margin:0px auto;
	display:table;
	border-collapse:collapse;
	/*
	width:490px;
	padding-left:40px;
	*/
	}
	
	#painterNav ul li {
	padding:5px;
	font-size:0.8em;
	display:table-cell;
	border:1px solid #999;
	text-align:center;
	background-color:#ebebeb;
	/* 
		float:left;
	padding:2px;
	font-size:0.9em;
	width:14%;
	*/
	}
	
		/* 
#painterNav ul li a:hover,  #painterNav ul li a.activeStyle {
	background:#666;
	color:#fff;
	}
		*/
#paintingList {
	padding:5px 0px;
	width:285px;
	margin:0px auto;
	/*	 
	clear:both;
	padding:15px 0px;
	*/ 
	}
	
	#paintingList dl {
	float:left;
	width:90px;
	text-align:center;
	padding:10px 0px;
	margin:0px 5px 5px 0px;
	/*
		width:140px;
	padding:10px 3px;
	margin:0px 10px 10px 0px;
	*/
	}

#paintingList dt {
	background-color: #000;
	color: #fff;
	padding: 5px 0px;
	font-size:0.9em;
	width:90px;
	height:25px;
	overflow:hidden;
	vertical-align:middle;
/*
	border-top-left-radius: 30px;
	background-color:#333;
	padding: 5px 0px;
	font-size:0.9em;
	*/
}

#paintingList dd img {
	width:90px;
	height:90px;
	/*
	width:140px;
	height:140px;
	*/
}
/*
#paintingList dd a img {
	opacity: 0.7;
}
#paintingList dd a:hover img {
	opacity: 1.0;
}
*/
	
h2.titleBg {
	/* background:url(../images/left_line.png) no-repeat left center; */
	font-size:1.3em;
	letter-spacing:-1px;
	clear:both;
	}

h2.titleBg span {
	display:block;
	/* background:url(../images/right_line.png) no-repeat right center;  */
	padding:5px 0px;
	text-align:center;
	}