@charset "utf-8";
/* reset CSS */
* {
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none;
	}
body {
	color:#666;
	font-family:"맑은 고딕", 돋움, dotum, sans-serif;
	font-size:0.85em;
	line-height:1;
	}
ul,li,ol {
	list-style:none;
	}
a {
	text-decoration:none;
	color:#666;
	}
img {
	border:none;
	}
hr {
	display:none;
	}