body {color:#333;line-height: 1.2;font-family: '돋움',Dotum,굴림,Gulim,sans-serif;font-size: 10%;}
a {text-decoration: none;}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
    src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
         url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
         url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}


/* header (공통) */
#header {height: 97px;border: 0px solid purple;background:url('../images/common/header_bg.gif') repeat-x 0 0}
#header div.inner h1.logo{float:left;padding-top:32px;margin-right:80px;border:0px solid burlywood;}
#header div.inner ul#navigation{float:left;padding-top:32px;border:0px solid fuchsia;}
#header div.inner ul#navigation li {display: inline;background:url('../images/common/dot.gif') no-repeat 0 center;border:0px solid red;} /* 34 + 35 = 69 = 75 - 6 */
#header div.inner ul#navigation li:first-child {background:none;}
#header div.inner ul#navigation li:first-child a{padding-left:0px;} /* 가상클래스를 이용한 선택 */
#header div.inner ul#navigation li:last-child a{padding-right:0px;}
#header div.inner ul#navigation li a {display:inline-block;padding:6px 35px 6px 34px;font-family: 'Nanum Gothic', sans-serif;font-size: 18px;color:#434343;}/* 34 + 35 = 69 = 75 - 6 */
#header div.inner ul#infoMenu{float:right;border:0px solid black;padding-top: 25px;}
#header div.inner ul#infoMenu li{display: inline;border:0px solid green;}
#header div.inner ul#infoMenu li:last-child{margin-right:0;}

/* footer (공통) */
#footer {height: 131px;border: 3px solid yellow;}