/* style.css 공통이 아닌 영역-메인부터 서브 페이지 까지*/
* {box-sizing:border-box}
html, body {height:100%;} /* 높이에 % 적용 되도록 기본 설정 */

#wrapper {width:100%;height:1870;border:0px solid red;}
#visual {height: 555px;background:url('../images/common/main_visual.png') no-repeat center top;background-size: cover; border: 0px solid blue;}
#contents {height: 1087px;border: 0px solid green;}

.inner {width:1000px;height:100%;border:0px solid black;margin:0 auto;}